.shopping-cart-data-container {
    display: grid;
    margin: 4rem;
}

.cart-header {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    text-align: left;
    padding: 1rem;
}

.cart-data {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    padding: 1rem;
}

/*================= Item Section =================*/
.item-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.cart-items {
    display: flex;
    align-items: center;
}

.cart-items img {
    width: 20%;
    height: auto;
    object-fit: contain;
}

/*================= Price Section =================*/
.price-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.price-details {
    display: flex;
    align-items: center;
}

/*================= Quantity Section =================*/
.qty-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.qty-buttons {
    display: flex;
    align-items: center;
}

.qty-buttons button {
    width: 50px;
    border: 1px solid #222;
}

.qty-buttons button:hover {
    background: #D9B89E;
    color: white;
    border: #D9B89E;
}

.qty-buttons input {
    width: 50px;
    height: 40px;
    border: 1px solid #222;
    text-align: center;
}

.qty-buttons input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -webkit-text: center;
}

input[type=number] {
    appearance: textfield;
}

/*================= Total Section =================*/
.total-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.total-details {
    display: flex;
    align-items: center;
}