.product-details-container {
    display: flex;
    width: 100%;
    height: 50%;
    /* border: red 3px solid; */
    justify-content: center;
    padding: 4rem 2rem 4rem 2rem;
}

/*================= Image Sidebar =================*/
.product-images-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 15%;
}

.image-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-sidebar img {
    max-width: 50%;
    height: auto;
}

/*================= Main Product Image =================*/
.product-main-image {
    display: flex;
    max-width: 40%;
    height: auto;
}

.product-main-image img {
    max-width: 100%;
    object-fit: contain;
    cursor: zoom-in;
}

.resize-image {
    transform: scale(1.5);
    cursor: zoom-out;
}

/*================= Product Info =================*/
.product-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.product-info-style {
    padding: 1.8rem;
}

.product-info-style p {
    color: #D9B89E;
    padding-top: 0.8rem;
    font-size: 1.2vw;
}

.quantity-style {
    width: 100%;
    height: auto;
    padding: 1.8rem;
}

.quantity-style button {
    width: 50px;
    border: 1px solid #222;
}

.quantity-style button:hover {
    background: #D9B89E;
    color: white;
    border: #D9B89E;
}

.quantity-style input {
    width: 50px;
    height: 40px;
    border: 1px solid #222;
    text-align: center;
}

.quantity-style input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -webkit-text: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*================= Add to cart button =================*/
.add-to-cart {
    display: flex;
    justify-content: start;
    padding: 1.8rem;
    width: 100%;
}

.add-to-cart button {
    width: 50%;
    max-width: 50%;
    font-size: 1.5vw;
}

.add-to-cart button:hover {
    background: #D9B89E;
    color: white;
    border: #D9B89E solid;
}

/*================= Product Description =================*/
.product-description {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-bottom: 4rem;
}

.description {
    background-color: #e9e6e6;
    max-width: 75%;
    border-radius: 1rem;
}

.description-header {
    padding: 0.8rem;
}

.description-text {
    padding: 2rem;
}

.text-headers {
    font-size: 1vw;
    font-weight: bold;
}